@import "interactions", "style";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Hero section code

.tab {
  height: 50px;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
  background-color: #fff;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  border-top: 1px solid $cpr-brw;

  &__link {
    margin: 10px;
    font-size: 25px;
    font-family: $epi;
    text-decoration: none;
    color: $cpr-brw;
    font-weight: 500;
  }
}
.hero {
  background-color: $lg-gray;
  height: 100vh;
  &__logo {
    height: 80px;
    width: auto;
    display: block;
    padding: 10px;
    margin: auto;
  }
  &__content {
    display: flex;
    justify-content: space-evenly;

    align-items: center;

    &__text {
      color: $lyt-blk;
      font-size: 100px;
      font-family: $epi;
      margin-top: 150px;
    }
    &__img {
      width: 500px;
      height: auto;
      margin-top: 150px;
    }
  }
  &__scroll {
    text-align: center;

    i {
      padding: 10px;
      font-size: 35px;
      color: $lyt-blk;
      margin-top: 60px;
      padding: 10px;
      animation-duration: 1500ms;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-name: blink;
    }
  }
}

// Slide Section

.slide {
  height: 100vh;
  // background-color: red;
  &__heading {
    font-size: 40px;
    font-family: $epi;
    color: $lyt-blk;
    padding-top: 40px;
    margin-left: 100px;
  }
  &__proj {
    &__card {
      display: flex;
      justify-items: baseline;
      justify-content: center;
    }
    &__cards {
      width: 250px;
      border-radius: 5px;
      height: 350px;
      margin: 100px 10px;
      color: $lyt-blk;
      background-size: contain;
      // &:hover{
      //   box-shadow: 1px 1px  4px rgb(121, 121, 121);
      //   transition: all .2s;

      // }
      &--a {
        background-image: url("/img/pbn tnl.png");
        // -webkit-filter: grayscale(50%);
        // filter: grayscale(50%); 
      }
      // &--a:hover{
      //   -webkit-filter: none;
      //   filter: none;
      //   transition: all .3s;
      // }
      &--b {
        background-image: url("/img/ngo ng.png");
      }
      h2 {
        font-family: $epi;
        font-size: 32px;
        font-weight: 500;
        position: relative;
        top: 150px;
        text-align: center;
      }
    }
  }
}

.process {
  height: 100vh;
  background-color: $lyt-blk;
}
