
@import 'interactions','style';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Hero section code

.tab{
    height: 50px;
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    background-color: #fff;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    border-top: 1px solid $cpr-brw;
    // text-align: center;
    &__link{
        // text-align: center;
        margin: 10px;
        font-size: 25px;
        font-family: $epi;
        text-decoration: none;
        color: $cpr-brw;
        font-weight: 500;
    }
}
.hero{
    background-color: $lg-gray;
    height: 100vh;
    &__logo{
        height: 80px;
        width: auto;
        display: block;
        padding: 10px;
        margin : auto;
    }
    &__content{
        // background-color: #fff;
        display: flex;
        justify-content: space-evenly;
        // width: 80vw;
        align-items: center;
        // align-content:space-between;
        

        &__text{
            color: $lyt-blk;
            font-size: 100px;
            font-family: $epi;
            margin-top: 150px;
        }
        &__img{
            width: 500px;
            height: auto;
            margin-top: 150px;

        }
    }
    &__scroll{
        text-align: center;

        
        i{
            // border-bottom: 4px solid $cpr-brw;
            // box-shadow: 1px 1px 4px rgb(175, 175, 175);
            padding: 10px;
            font-size: 35px;
        color: $lyt-blk;
        margin-top: 60px;
        padding: 10px;
        animation-duration: 1500ms;           
        animation-iteration-count: infinite;
        animation-direction: normal;        
        animation-name: blink;
        }
    }
}

// Slide Section 

.slide{
    &__heading{
        font-size: 40px;
        font-family: $epi;
        color: $lg-gray;
        padding-top: 40px;
        margin-left: 100px;
    }
    height: 100vh;
    // width: 80vw;
    // margin: 0 auto;
    // display: grid;
    // grid-template-columns: repeat(2,50%);
    // font-family: $epi;
    // font-size: 100px;
    background-color: $cpr-brw;
    // font-weight: 600;
    // align-items: center;
    // grid-template-rows: 100px 400px;
    // &__app{
    //     // background-color: red;
        
    //     // width: 50%;
    // } &__web{
    //     // background-color: rgb(206, 98, 98);
    //     // width: 50%;

    // } &__graph{
    //     // background-color: rgb(99, 91, 91);
    //     // width: 50%;

    // } &__branding{
    //     // width: 50%;

    //     // background-color: rgb(158, 158, 158);
    // }
    // display: flex;
    // font-weight: 600;
    // font-family: $epi;
    &__proj{
        
        &__card{
            display: flex;
            justify-items: baseline;
            // align-content: space-between;
            justify-content: center;
        }
        &__cards{
            h2{
                font-family: $epi;
                font-size: 32px;
                font-weight: 500;
                position: relative;
                top: 150px;
                text-align: center;
            }
                width: 250px;
                border-radius: 5px;
                height: 350px;
                background-color: $lg-gray;
                margin: 100px 10px;

                color: $lyt-blk;
        // box-sizing: 1px 1px 4px  #000;
        }
    }
}

.process{
    height: 100vh;
    background-color: $lyt-blk;
}